<!DOCTYPE html>
<HTML lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Change Password</title>
    </head>
<body>
    <h1 style="text-align: center;">Change Password</h1>
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div style="text-align: center;">
        <!-- <label>Old Password:</label>
        <input type="password" name="password" placeholder="Enter Old Password"><br><br> -->
        <label>New Password:</label>
        <input type="password" name="password" placeholder="Enter New Password"><br><br>
        <label>Confirm New Password:</label>
        <input type="password" name="confirm_password" placeholder="Re-enter New Password">
        </div><br>
        <div style="text-align: center;">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</body>    
</HTML>